[zoom]
account_id = YOUR ACCOUNT ID
client_id = YOUR CLIENT ID
client_secret = YOUR CLIENT SECRET

[slack]
bot_token = xob-YOUR-BOT-TOKEN

[gcal]
credentials_file = THE-PATH-TO-THE-CLIENT-SECRET.json
calendar_id = YOUR CALENDAR ID

[gsheet]
credentials_file = THE-PATH-TO-THE-CLIENT-SECRET.json

