[eventbrite]
api_key = your App secret
organization_id = your organization id

[script.usernames]
google_drive_folder_id = google drive folder id to store the spreadsheets
template_en = google file id for template for locale en
template_en = google file id for template for locale fr
# variables that can be used: {date}, {title}, {course_code}
filename_template_en = {date} - {course_code} - {title} - Usernames
filename_template_fr = {date} - {course_code} - {title} - Nom d'utilisateurs
header_range = B1:B2
data_range = A5:B
# calculate based on event title
course_code_template = {title[-7:-1]}
# variable that can be used: user_index (ranges from 0 to number of attendees-1)
username_template = user{user_index+1:02d}
url_template = template for URL for the cluster
password_template = template for password for the accounts

[zoom]
account_id = YOUR ACCOUNT ID
client_id = YOUR CLIENT ID
client_secret = YOUR CLIENT SECRET

[slack]
bot_token = xob-YOUR-BOT-TOKEN

[google]
credentials_file = THE-PATH-TO-THE-CLIENT-SECRET.json

[google.calendar]
calendar_id = YOUR CALENDAR ID

[google.sheets]

